<!--  
    * Elemento: Nav bar
        Descripcion: Mostrar precio final y contenedor de formulario de creacion de producto
        #Position: fixed;
-->
<nav class="nav">
<!-- 
    * Elemento: Ul
        Class: list-items-nav-bar
        Descripcion: Contener tanto el precio total como un boton que actualiza su valor
-->
  <ul class="list-items-nav-bar">
    <!-- Precio total-->
    
  </ul>

  <!--  
    *Elemento: ul
      Class: crear-producto
      Descripcion: Formulario de creacion de los productos que se almacenan en el array productos
  -->
  <ul class="contenedor-formulario">
    <form action="" class="crear-producto" (submit)="agregarNuevoProducto($event)">
      <li class="precio-total-nav-bar">${{Sistema.obtenerPrecioTotalLista()}}</li>
      <!-- Formulario -->
      <input class="crear-producto-input" type="text" placeholder="imagen" id="imagen" required>
      <input class="crear-producto-input" type="text" placeholder="nombre" id="nombre" required>
      <input class="crear-producto-input" type="text" placeholder="medicion" id="medicion" required>
      <input class="crear-producto-input" type="number" placeholder="precio" id="precio" required>
  
      <!-- Botón de publicación -->
      <button type="submit" class="crear-producto-btn">Crear</button>
    </form>
  </ul>
  
</nav>


<!--  
      *Elemento: section
          Class: display-section
          Descripcion: Contenedor de todas los productos
          Style: display grid / auto-fill minmax 19em 10em / row-gap 3em / padding  10em 3em
-->
<section class="display-section" id="section">

  <!--  
      *Elemento: article
          Class: card-body
          Descripcion:El producto esta conformado por el header y footer, header imagen footer informacion; se repite
                      la cantidad de Productos equivalente a los productos existente en el array prductos que esta
                      asociado al LocalStorage
  -->
  <article class="card-body" *ngFor="let producto of this.BD.ListaDeProductos">

    <!--  Header -->
    <header class="card-header" [ngStyle]="{'background-image': 'url(' + producto.imagen + ')'}"></header>

    <!--  Footer -->
    <footer class="card-footer">

      <!-- Informacion del producto -->
      <p class="title">{{ producto.nombre }} 
        <span class="medidas-del-producto"> ({{producto.medicion}})</span><br>
        <span class="price">{{ producto.precio | currency }}</span>
      </p>

      <!-- Agregar productos a la lista -->
      <div class="card-agregar">
        <button class="agregar btn start" (click)="this.producto.restarUnidades()">-</button><p class="precio-total">${{producto.getPrecioTotal()}} <span class="unidades">({{producto.unidades}}u)</span></p><button class="restar btn end"  (click)="this.producto.sumarUnidades()">+</button>
      </div>

    </footer>

    <!-- Eliminar producto  -->
    <button class="btn-delete" (click)="this.Sistema.eliminarProducto(producto.id)">x</button>

  </article>
  
</section>