/*
*-----------------------------------------------------------------------------------
    * Funcion : Repositorio
    ? Repositorio de clases genericas para reducir codigo

*----------------------------------------------------------------------------------*/

.confi-imagen {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* 
*---------------------------------------------------------------------------------------------------------------- 

    * Function : Contenedor padre
    ? Descripcion: Encargado del display de todos los productos

*-----------------------------------------------------------------------------------------------------------------*/

.display-section {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(19em, 10em));
    row-gap: 3em;
    padding: 10em 3em;
    width: 100vw;
    height: auto;
}

/* 
*---------------------------------------------------------------------------------------------------------------- 

    * Function : Barra de navegacion
    ? Descripcion: Nav bar principal, contendeor del precio total y el formulario

*-----------------------------------------------------------------------------------------------------------------*/

.nav {
    position: fixed;
    display: flex;
    float: left;
    width: 100vw;
    min-height: 4em;
    background-color: rgb(2, 83, 170);
    border-radius: 0px 0px 5px 5px;
    z-index: 1000;

}

/* 
*---------------------------------------------------------------------------------------------------------------- 

    * Function : Contenedor
    ? Ver precio final 

*-----------------------------------------------------------------------------------------------------------------*/



/* ----------------------------------------------------------
* Resultado de la suma total de todos los productos comprados
-----------------------------------------------------------*/

.precio-total-nav-bar {
    @extend .flex-center;
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    height: 1.1em;
    width: auto;
    list-style: none;
    background-color: rgba(0, 195, 143, 0.555);
    padding: 0.1em 1em;
    border-radius: 20px;
}

/* 
*-------------------------------------------------------------------------------------------------------------

    * Funcion: Cotenedor
    ? Es el contenedor del formulario para crear productos

*-------------------------------------------------------------------------------------------------------------*/

.contenedor-formulario{
    @extend .flex-center;
    width: 100%;
}

/* 
*-------------------------------------------------------------------------------------------------------------

    * Funcion: Cotenedor
    ? Es el contenedor del formulario para crear productos

*-------------------------------------------------------------------------------------------------------------*/

.crear-producto {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2em;
    padding: 0em 2em;
}

/* ------------------------
* Icono para subir archivos 
-------------------------*/

.upload-image {
    height: 4em;
    width: 4em;
}

/* -----------------------
* Input file (Invisible)
------------------------*/

.crear-producto-input-file {
    visibility: hidden;
}

/* ------------------------------
* Input tipo texto del formulario
-------------------------------*/

.crear-producto-input {
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    height: 1em;
    width: 12em;
    font-size: 1.1em
}

/* -----------------------------------------------
*Extencion de boton .btn-nav para cambiar de color
------------------------------------------------*/

.crear-producto-btn {
    @extend .flex-center;
    padding: 0em 1em;
    width: 7em;
    height: 1.5em;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    background-color: rgb(0, 158, 129);
}

.crear-producto-btn:hover {
    transform: scale(1.05);
}

.crear-producto-btn:active {
    transform: scale(1);
}

/* 
*-----------------------------------------------------------------------------------------------------------

    * Funcion: Media Query ( 1150 px )
    ? Adaptacion para tablets

*---------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 1150px) {

    /* -----------------------------------------------
* Aumento de padding top
------------------------------------------------*/

    .display-section {
        max-width: 100%;
        padding-top: 50em;
    }

    /* --------------------------------------------------------
* Reposicionamiento de los elementos en forma de columna
--------------------------------------------------------*/

    .nav {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        max-height: auto;
        padding: 1em 0em;
    }

    /* --------------------------------------------------------
* Reposicionamiento de los elementos en forma de columna
--------------------------------------------------------*/

    .list-items-nav-bar,
    .crear-producto {
        display: flex;
        flex-direction: column;
    }

    /* -------------------------------------------------------------------------------------
* Aumento de tamaño para los inputs, aumento del font size y aumento del border radius
--------------------------------------------------------------------------------------*/

    .crear-producto-input {
        width: 80%;
        margin: auto;
        height: 2em;
        font-size: 1.5em;
        border-radius: 50px;
        background-color: aliceblue;
    }




    /* ------------------------------------------------------------------------------------------------
* Aumento de tamaño en boton de actialzar precio, aumento del font size y aumento del border radius
--------------------------------------------------------------------------------------------------*/

    .btn-nav {
        font-size: 2.1em;
        width: 14em;
        border-radius: 50px;
    }

    /* --------------------------------------------------------
* Aumento del font size y del border radius  del precio total
--------------------------------------------------------*/

    .precio-total-nav-bar {
        font-size: 2.1em;
        border-radius: 50px;
    }

    /* -------------------------------------------------------------------
* Aumento de la separacion entre los elementos del section (Productos)
---------------------------------------------------------------------*/

    .display-section {
        gap: 8em;
    }

    /* --------------------------------------------------------
* Aumento del tamaño de los Productos
--------------------------------------------------------*/

    .card-body {
        transform: scale(1.2);
    }

}

/* 
*------------------------------------------------------------------------------------------------------------

    * Funcion: Media Query ( 700 px )
    ? Adaptacion para Celulares

*------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 700px) {

    /* --------------------------------------------------------
* Aumento de la separacion entre los Productos y el top
--------------------------------------------------------*/

    .display-section {
        max-width: 100%;
        padding-top: 150%;
    }

    /* --------------------------------------------------------
* Disminucion del tamaño del font size
--------------------------------------------------------*/

    .btn-nav,
    .precio-total-nav-bar {
        font-size: 1.3em;
    }

    /* --------------------------------------------------------
* Disminucion del tamaño del font size
--------------------------------------------------------*/

    .crear-producto-input {
        height: 0.5em;
    }

}