<nav class="nav">
  <ul class="list-items-nav-bar">
    <button class="btn-nav" (click)="this.actualizarPrecioTotalFinal()"> Finalizar compra </button>
    <li class="precio-total-nav-bar">${{this.precioTotalFinal}}</li>
  </ul>
  <ul class="crear-producto">     
    <input class="crear-producto-input" type="text" placeholder="imagen" id="imagen">
    <input class="crear-producto-input" type="text" placeholder="nombre" id="nombre">
    <input class="crear-producto-input" type="text" placeholder="medicion" id="medicion">
    <input class="crear-producto-input" type="number" placeholder="precio" id="precio">
    <button class="crear-producto-btn" (click)="crearProducto()"> Crear</button>
  </ul>
</nav>
<section class="display-section" id="section">
  <article class="card-body" *ngFor="let producto of Productos">
    <header class="card-header" [ngStyle]="{'background-image': 'url(' + producto.img + ')'}"></header>
    <footer class="card-footer">
      <p class="title">{{ producto.nombre }} <span class="medidas-del-producto"> ({{producto.medidas}})</span><br>
        <span class="price">{{ producto.precio | currency }}</span>
      </p>

      <div class="card-agregar">
        <button class="agregar btn start" (click)="producto.restarCantidad()">-</button><p class="precio-total">${{producto.precioTotal}} <span class="unidades">({{producto.cantidad}}u)</span></p><button class="restar btn end" (click)="producto.sumarCantidad()">+</button>
      </div>
    </footer>
    <button class="btn-delete" (click)="eliminarProducto(producto.id)">x</button>
  </article>
  
</section>