$nav: #003554;
$btn: #006494;


/*
*-----------------------------------------------------------------------------------
    * Funcion : Repositorio
    ? Repositorio de clases genericas para reducir codigo

*----------------------------------------------------------------------------------*/

.confi-imagen {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* 
*---------------------------------------------------------------------------------------------------------------- 

    * Function : Contenedor padre
    ? Descripcion: Encargado del display de todos los productos

*-----------------------------------------------------------------------------------------------------------------*/

.display-section {
    display: flex;
    justify-content: center;   
    width: 100vw; 
    height: auto;
    
}

.box-cards {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(21em, 30vw));
    width: 90vw; 
    row-gap: 3em;
    margin: 10em auto;
}

/* 
*---------------------------------------------------------------------------------------------------------------- 

    * Function : Barra de navegacion
    ? Descripcion: Nav bar principal, contendeor del precio total y el formulario

*-----------------------------------------------------------------------------------------------------------------*/

.nav {
    position: fixed;
    display: flex;
    float: left;
    width: 100vw;
    height: auto;
    background-color: $nav;
    border-radius: 0px 0px 5px 5px;
    z-index: 1000;
    transition: height 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    min-height: 4em

}

/* 
*---------------------------------------------------------------------------------------------------------------- 

    * Function : Contenedor
    ? Ver precio final 

*-----------------------------------------------------------------------------------------------------------------*/



/* ----------------------------------------------------------
* Resultado de la suma total de todos los productos comprados
-----------------------------------------------------------*/

.precio-total-nav-bar {
    @extend .flex-center;
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    height: 1.2em;
    width: auto;
    list-style: none;
    background-color: $btn;
    padding: 0.1em 1em;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out; 
}

/* 
*-------------------------------------------------------------------------------------------------------------

    * Funcion: Cotenedor
    ? Es el contenedor del formulario para crear productos

*-------------------------------------------------------------------------------------------------------------*/

.contenedor-formulario{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    width: 100%;
    
   
}

/* 
*-------------------------------------------------------------------------------------------------------------

    * Funcion: Cotenedor
    ? Es el contenedor del formulario para crear productos

*-------------------------------------------------------------------------------------------------------------*/

.crear-producto {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2em;
    padding: 0em 2em;
}

.crear-producto-container{
    display: flex;
    float: left;
    gap: 1.5em;
    min-width: 70vw;
    height: auto;
}

/* ------------------------
* Icono para subir archivos 
-------------------------*/

.upload-image {
    height: 4em;
    width: 4em;
}

/* -----------------------
* Input file (Invisible)
------------------------*/

.crear-producto-input-file {
    visibility: hidden;
}

/* ------------------------------
* Input tipo texto del formulario
-------------------------------*/

.crear-producto-input {
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    height: 1em;
    width: 8em;
    font-size: 1.1em;
    display: block
}

/* -----------------------------------------------
*Extencion de boton .btn-nav para cambiar de color
------------------------------------------------*/

.crear-producto-btn {
    @extend .flex-center;
    padding: 0em 1em;
    width: 5em;
    height: 1.3em;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    background-color: $btn;
}

.crear-producto-btn:hover {
    transform: scale(1.05);
}

.crear-producto-btn:active {
    transform: scale(1);
}

/* 
*-----------------------------------------------------------------------------------------------------------

    * Funcion: Media Query ( 1150 px )
    ? Adaptacion para tablets

*---------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 1024px) {

    /* -----------------------------------------------
* Aumento de padding top
------------------------------------------------*/

    .display-section {
        max-width: 100vw;
       
      
    }
    .box-cards{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(auto-fill, minmax(50%, 10vw));
        width: 90vw; 
        row-gap: 10em;
        margin: 10em auto;
        transform: translateY(600px);
        
    }

    .crear-producto-container.scrolled{
        display: none;
        
    }
    
    .crear-producto-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    /* --------------------------------------------------------
* Reposicionamiento de los elementos en forma de columna
--------------------------------------------------------*/

    .nav {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        height: auto;
        padding: 1em 0em;
    }

    /* --------------------------------------------------------
* Reposicionamiento de los elementos en forma de columna
--------------------------------------------------------*/

    .crear-producto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  

  

/* -------------------------------------------------------------------------------------
* Aumento de tamaño para los inputs, aumento del font size y aumento del border radius
--------------------------------------------------------------------------------------*/

    .crear-producto-input {
        width: 80%;
        margin: auto;
        height: 2em;
        font-size: 1.5em;
        border-radius: 50px;
        background-color: aliceblue;
    }





/* --------------------------------------------------------
* Aumento del font size y del border radius  del precio total
--------------------------------------------------------*/

    .precio-total-nav-bar {
        font-size: 2.1em;
        border-radius: 50px;
    }

    /* -------------------------------------------------------------------
* Aumento de la separacion entre los elementos del section (Productos)
---------------------------------------------------------------------*/

    .display-section {
        gap: 8em;
    }

    /* --------------------------------------------------------
* Aumento del tamaño de los Productos
--------------------------------------------------------*/

    .card-body {
        transform: scale(1.2);
    }

}

/* 
*------------------------------------------------------------------------------------------------------------

    * Funcion: Media Query ( 700 px )
    ? Adaptacion para Celulares

*------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 700px) {

    /* --------------------------------------------------------
* Aumento de la separacion entre los Productos y el top
--------------------------------------------------------*/



    .nav.scrolled {
        height: 50px;
    }

    .crear-producto-container.scrolled {
        display: none;
        opacity: 0;
      }

    .display-section {
        max-width: 100vw;
       
    }
    .box-cards{
        display: flex;
        flex-direction: column;
        gap: 10em;
        margin: 500px auto;
        transform: translateY(-100px);
        
    }
    /* --------------------------------------------------------
* Disminucion del tamaño del font size
--------------------------------------------------------*/

    .precio-total-nav-bar {
        font-size: 1.3em;
    }

    .precio-total-nav-bar.scrolled{
        transform: scale(1.7);
    }

   

    /* --------------------------------------------------------
* Disminucion del tamaño del font size
--------------------------------------------------------*/

    .crear-producto-input {
        height: 0.5em;
    }

}