.display-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19em , 10em));
    row-gap: 3em;
    justify-content: center;
    align-items: center;
    padding: 10em 3em;
    width: 100vw;
    height: auto;
}
/*-------------------------------------- NAV BAR -------------------------------------------------*/

.nav{
    left: 0%;
    top: 0%;
    position: fixed;
    display: flex;
    float: left;
    width: 100vw;
    min-height: 4em;
    background-color: rgb(2, 83, 170);
    border-radius: 0px 0px 5px 5px;
    z-index: 1000;

}


/* ------- Ver precio final --------*/
.list-items-nav-bar{
    position: relative;
    display: flex;
    float: left;
    gap: 1em;
    justify-content: start;
    align-items: center;
    margin: auto;
}


.btn-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 1em;
    width: auto;
    height: 1.7em;
    border-radius: 20px;
    border: none;
    background-color: rgb(0, 166, 149);
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 0.3px;
}
.precio-total-nav-bar{
color: rgb(255, 255, 255);
font-size: 1.1em;
list-style: none;
background-color: rgba(0, 195, 143, 0.555);
padding: 0.1em 1em;
border-radius: 20px;
}
/*--------- Crear productos ---------*/
.crear-producto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0em 2em;
}

.upload-image{
    height: 4em;
    width: 4em;
}
.crear-producto-input-file{
    visibility: hidden;
}

.crear-producto-input{
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 0.5em 1em;
}
.crear-producto-btn{
@extend .btn-nav;
background-color: rgb(68, 0, 255);

}

@media only screen and (max-width: 1150px) {
    .display-section{
        max-width: 100%;
        padding-top: 50em;
    }
    .nav{
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        max-height: auto;
        padding: 1em 0em;
    }
    .list-items-nav-bar{
        display: flex;
        flex-direction: column;
    }
    .crear-producto{
        display: flex;
        flex-direction: column;
    }
    .crear-producto-input{
        width: 80%;
        margin: auto;
        height: 2em;
        font-size: 1.5em;
        border-radius: 50px;
    }
    .btn-nav {
        font-size: 2.1em;
        width: 14em;
        border-radius: 50px;
    }
    .precio-total-nav-bar{
        font-size: 2.1em;
        border-radius: 50px;
    }
    .display-section{
        gap: 8em;
    }
    .card-body{
        transform: scale(1.2);
    }
}



@media only screen and (max-width: 700px) {
    .display-section{
        max-width: 100%;
        padding-top: 150%;
    }
    .nav{
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        max-height: auto;
        padding: 1em 0em;
    }
    .list-items-nav-bar{
        display: flex;
        flex-direction: column;
    }
    .crear-producto{
        display: flex;
        flex-direction: column;
    }
    .crear-producto-input{
        width: 80%;
        margin: auto;
        height: 1em;
        font-size: 1.5em;
        border-radius: 50px;
    }
    .btn-nav {
        font-size: 1.3em;
        width: 14em;
        border-radius: 50px;
    }
    .precio-total-nav-bar{
        font-size: 1.4em;
        border-radius: 50px;
    }
    .display-section{
        gap: 8em;
        
    }
    .card-body{
        transform: scale(1.2);
    }
}


