/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
    max-width: 100vw;
    overflow-x: hidden;
    position: relative;
    box-sizing: border-box;
    background-color: rgb(224, 224, 231);
}

/*
*-----------------------------------------------------------------------------------
    * Funcion : Repositorio
    ? Repositorio de clases genericas para reducir codigo

*----------------------------------------------------------------------------------*/

.confi-imagen{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}




/*
*-----------------------------------------------------------------------------------
    * Funcion : Contenedor
    ? Es el cuerpo de los Productos que contiene toda la informacion 

*----------------------------------------------------------------------------------*/



/* --------------------------------------------------
* Contenedor Padre de la informacion de los Productos
----------------------------------------------------*/

.card-body{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 17em;
    height: 22em;
    background-color: rgb(237, 237, 238);
    border-radius: 20px;
    box-shadow: 0px 1px 10px 1px  rgba(0, 0, 0, 0.478);
}

/* --------------------------
* Boton de eliminar Producto
----------------------------*/

.btn-delete{
    position: absolute;
    @extend .flex-center;
    min-width: 1.5em;
    min-height: 1.5em;
    max-width: 1.5em;
    max-height: 1.5em;
    background-color: rgba(213, 0, 0, 0.579);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    left: 1em;
    top: 1em;
}

/* -----------------------------------
* Contenedor de la imagen del Producto
-------------------------------------*/

.card-header{
    @extend .confi-imagen;
    width: 17em;
    height: 17em;
    border-radius: 20px;
}

/* ------------------------------------
* Contenedor principal de la informacion 
--------------------------------------*/

.card-footer{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    font-size: 1.2em;
    font-weight: bold;
}

/* --------------------
* Precio del Producto
---------------------*/

.price{
    color: green;
}

/* --------------------
* Unidad de medida del Producto
---------------------*/

.medidas-del-producto{
    color: rgb(39, 15, 255);
}

/* 
*----------------------------------------------------------------------------------------------------------------

    * Funcion : Contenedor sistema de agregar Productos
    ? Contiene tanto el indicador de suma, resta y valor total del Producto

*---------------------------------------------------------------------------------------------------------------*/

.card-agregar{
    position: relative;
    @extend .flex-center;
    float: left; 
    gap: 1em;
    height: 1.5em;
    background-color: rgba(15, 139, 247, 0.256);
    border-radius: 15px;
}

/* --------------------------------------------
* Boton de Sumar / Restar unidades del Producto
----------------------------------------------*/

.btn{
    position: absolute;
    min-width: 1.5em;
    height: 1.5em;
    border: none;
    border-radius: 15px;
    background-color: rgb(18, 133, 209);
    color: white;
    font-size: 1em;
    font-weight: bold;
}

/* --------------------------------------------------------------
* Configuracion de posicionamiento de los botones Sumar / Restar
---------------------------------------------------------------*/

.start{
    top: 0;
    left: 0;
}

.end{
    top: 0;
    right: 0;
}

/* ----------------------------------------------------------------------------
* Precio total del Producto ( unidades * precio de cada producto por separado)
-----------------------------------------------------------------------------*/

.precio-total{
    color: rgb(0, 83, 0);
}

/* ---------------------
* Unidades del producto
----------------------*/

.unidades{
    color: rgb(0, 64, 255);
}